* {
    box-sizing: border-box;
}

.all_sign_in {
    width: 1530px;
    height: 720px;
    background-image: url(bg_sign.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
}

.sun_sign_in {
    max-width: 50%;
    margin: 0 auto;
    background-color: black;
    opacity: 0.8;
    color: white;

}

.title_sign {
    text-align: center;
}

.form_all {
    height: 300px;
    width: 350px;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name_div {
    margin: 6px;
}

.pass_div {
    margin: 6px;
}

.btn_sign {
    font-size: 20px;
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
    background-color: goldenrod;
    /* text-align: center; */

}

.btn_sign_up {
    font-size: 22px;
    background-color: rgb(4, 76, 74);
    border-radius: 5px;
}


@media only screen and (min-width: 375px) {
    .all_sign_in {
        max-width: 500px;
        height: 780px;
        min-width: none;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;


    }

}

@media only screen and (min-width: 600px) {
    .all_sign_in {
        max-width: 600px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}


@media only screen and (min-width: 700px) {
    .all_sign_in {
        max-width: 700px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}

@media only screen and (min-width: 800px) {
    .all_sign_in {
        max-width: 800px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}

@media only screen and (min-width: 900px) {
    .all_sign_in {
        max-width: 900px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}

@media only screen and (min-width: 1000px) {
    .all_sign_in {
        max-width: 1000px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}

@media only screen and (min-width: 1100px) {
    .all_sign_in {
        max-width: 1100px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}

@media only screen and (min-width: 1200px) {
    .all_sign_in {
        max-width: 1200px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}

@media only screen and (min-width: 1300px) {
    .all_sign_in {
        max-width: 1300px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}

@media only screen and (min-width: 1400px) {
    .all_sign_in {
        max-width: 1400px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}

@media only screen and (min-width: 1500px) {
    .all_sign_in {
        max-width: 1500px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}

@media screen and (min-width: 1600px) {
    .all_sign_in {
        max-width: 1600px;
    }

    .sun_sign_in {
        max-width: 60%;
    }

    .form_all {
        height: 250px;
        width: 250px;
        color: white;
        padding: 16px;
    }
}





