.auth-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/auth-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.auth-container {
    max-width: 50%;
    margin: 0 auto;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 20px;
    border-radius: 10px;
}