.movie-pu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-image {
    min-width: 30%;
    margin-left: 15px;
    margin-right: 10px;
}

.movie-details {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}

.divider span:not(:last-child):after {
    content: ' | ';
    white-space: pre-wrap;
}