.myList-container {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    padding: 12px 8px;
    gap: 1em;

    & .list-item {
        position: relative;
        height: fit-content;
        width: fit-content;
        background: rgb(6, 83, 119);

        padding: 5px;

        border: 1px solid;
        border-radius: 6px;
    }
}

.trash-button {
    --bs-btn-padding-x: 0.5rem !important;
    --bs-btn-padding-y: 0.275rem !important;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 20%;
    padding: 5px;

    & .trash-icon {
        font-size: 1.3em;
    }
}