*{
    box-sizing: border-box;
}
.main_profile{
    background-color: rgb(5, 5, 35);
    color: white;
}

.all_profil{
    /* height: 300px; */
    display: flex;
    justify-content: end;
    margin: 8px;
}

.profile_icon{
    padding: 10px;
    font-size: 24px;
}

.list_catgeris{
    background-color:#10071e;
    height: 600px;
    width: 1000px;
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    /* background-color: blueviolet; */
    margin:  0 auto;
}
.chak_box{
    border: 1px solid;
    padding: 8px;
    height: 65px;
    background: rgb(6, 83, 119);
    text-align: center;
    font-size: 26px;
    /* width: 150px; */
}

.lable_class{
    /* margin-top: 8px; */
    margin-right: 8px;
}

.back_home {
    color: blanchedalmond;
    background-color: red;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px;
position: absolute;
top: 86%;
left: 3%;
}

