* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_slider {
    background-color: rgb(2, 2, 32);
    max-width: 100%;
    margin: 0px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.category {
    color: white;
}

.item_carusela {
    margin-top: 24px;
}
