* {
    box-sizing: border-box;
}

.nav_all {
    width: 96.5%;
    position: absolute;
    padding: 20px;
}

.drop {
    position: absolute;
    top: 45%;
    right: 1px;
}

.nav_btn {
    display: flex;
    float: right;
    justify-content: space-between;
    height: 40px;
    position: relative;
}

.nav_search {
    background: white;
    width: 15%;
}

.search-input {
    padding: 8px;
    border: none;
}
