*{
    box-sizing: border-box;

}
.nav_all{
    display: flex;
   justify-content: space-between;

  background-color: black;
  min-height: 100px;
align-items: center;
    padding: 16px;
}
.btn_log{
    border-radius: 16px;
    padding: 16px;
    background-color: red;
}
.inpSearch{
padding: 8px;
}
.p_name{
margin-left: 16px;
    color: white;
}
.nav_btn{
    display: flex;
  
}
