.nav-container {
    background-color: rgb(4, 4, 60);
    display: flex;
    flex-direction: row;
}

.nav-left, .nav-right {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center {
    width: 60vw;
}

.drop {
    position: absolute;  /* todo check this */
    top: 45%;
    right: 1px;
}

.menu-button {
    display: flex;
    float: right;
    justify-content: space-between;
    height: 40px;
    position: relative;
}

.search-input {
    padding: 8px;
    border: none;
}

.content {
    background-color: rgb(5, 5, 35);
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-button {
    color: rgb(210, 210, 236);
    border: 1px solid brown;
    background-color: brown;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-size: 18px;
}