* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

.main_all {
    width: 100%;
    height: 70vh;
    position: relative;
}

.main_watch_info{
    width: 100%;
    height: 100%;
}

.img_all {
    height: 100%;
    width: 100%;
}

/* .float{
    position: absolute;
   top: 50%;
   left: 1%;
   margin-top: 66px;
  color: white;
  
  
} */
.btn_div_watch {
    position: absolute;
    top: 60%;
    right: 1%;
}

.btn_watch {
    background-color: #d02d2d;
    border: none;
    color: #fff;
    padding: 8px 8px;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
}

.btn_div_info {
    position: absolute;
    top: 60%;
    right: 10%;
}

.btn_info {
    background: #d02d2d;
    color: #fff;
    font-size: 24px;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.btn_log{
  position: absolute;  
  top: 89%;
  left: 4%;
  padding: 8px;
  background: #d02d2d;
  font-size: 20px;
  border-radius: 5px;
}

.info_comp{
    position: absolute;
    top: 70px;
    left: 180px;
}

.div_add{
    position: absolute;
    top: 71%;
    left: 89%;
    /* font-size: 16px; */
    display: flex;
    align-items: center;
}

.icon_add{
    font-size: 48px;
    color: wheat;
}

.div_masseg_add{
    color: antiquewhite;
}