.pop-up-background-cover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}

.pop-up {
    position: fixed;

    left: 25%;
    top: 10%;

    width: 50%;
    padding-top: 5px;

    border: 1px solid #011627;
    border-radius: 1em;
    box-shadow: -2px 5px 5px #332b2b;

    background-color: rgb(5, 5, 35);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #011627;
    z-index: 1;
}

/*.pop-up-x {*/
/*    float: right;*/
/*    color: white;*/
/*    background-color: red;*/
/*}*/