.btn_li_all {
    background: black;
    color: white;
    width: 90px;
    height: 18px;
    border: none;
    z-index: 100;
    border-radius: 5px;
    opacity: 0.7;
}

.menu_catgeris {
    width: 304px;
    float: right;
    height: 360px;
    background-color: rgb(5, 63, 77);
    border: none;
    z-index: 100;
    padding: 3px;
}

.ul_categorys {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
    height: 200px;
    z-index: 100;
    width: 300px;
    padding: 1px;
    border: none;
}

.btn_li_cat {
    padding: 6px;
    border-radius: 5px;
}

.div_parent_list_catgory {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.div_list_allcatgory {
    display: flex;
    flex-direction: column;
    margin: 4px;
    border: 1px solid;
    height: 168px;
    text-align: center;
    align-items: center;
    opacity: 0.9 .6;
}

.img_allcatgory {
    width: 100px;
}

@media (max-width: 728px) {

}

@media (max-width: 1200px) {
    .menu_catgeris {
        width: 650px;
        height: 220px;
        position: absolute;
    }

    .ul_categorys {
        width: 600px;
    }

    .div_parent_list_catgory {
        position: absolute;
        top: 37%;
    }
}

/* @media (min-width:1201px) {
    .menu_catgeris {
        width: 304px;
        height: 200px;
        position: absolute;
        left: 74%;
    }

    .ul_categorys {
        width: 600px;
    }

    .div_parent_list_catgory{
        position: absolute;
        
    }
} */


@media (max-width: 500px) {
    .menu_catgeris {
        width: 420px;
        height: 260px;
        /* position: absolute; */
    }

    .ul_categorys {
        width: 420px;

    }

    .div_parent_list_catgory {
        position: absolute;
        top: 48%;
        width: 420px;
    }
}