.btn_li_all{
    background: black;
    color: white;
    width: 90px;
    height: 18px;
    border: none;
    z-index: 100;
    border-radius: 5px;
    opacity: 0.7;
}

.menu_catgeris{
    width: 304px;
    float: right;
    height: 360px;
    background-color: rgb(5, 63, 77);
    border: none;
    z-index: 100;
    padding: 3px;
}

.ul_categorys{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
    height: 200px;
    z-index: 100;
    width: 300px;
    padding: 1px;
   border: none;
}

.li_categorys{}


.btn_li_cat{
    padding: 6px;
    border-radius: 5px;
}
.div_parent_list_catgory{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.div_list_allcatgory{
    display: flex;
    flex-direction: column;
    margin: 4px;
    border: 1px solid;
    height: 168px;
    text-align: center;
    align-items: center;
    opacity: 0.9.6;
}

.img_allcatgory{
    width: 100px;
}