* {
    box-sizing: border-box;
}

.all_detiles {
    background-image: url(../auth/auth-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    align-items: center;
}

.sun_detiles {
    height: 350px;
    background-color: black;
    opacity: 0.7;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 728px) {

    .all_detiles {
        height: 500px;
        width: 470px;
    }

    .sun_detiles {
        width: 65%;
        height: 250px;
    }
}

@media (min-width: 991px) {
    .all_detiles {
        height: 700px;
        width: 700px;
    }

    .sun_detiles {
        width: 65%;
        height: 250px;
    }
}

@media (min-width: 1200px) {
    .all_detiles {
        height: 700px;
        width: 1200px;
    }

    .sun_detiles {
        width: 65%;
        height: 250px;
    }
}