.btn_menu {
    width: 55px;
}

.btn_menu .A {
    background: rgb(227, 4, 4);
    width: 130%;
    height: 16px;
    border-radius: 5px;
}

.menu {
    width: 70px;
    text-align: center;
    padding: 0px;
}

.btn_li {
    background-color: black;
    opacity: 0.7;
    border-radius: 5px;
    border: none;
    color: white;
    background: black;
}

.menu {
    list-style: none;
    background: black;
}

.b {
    position: absolute;
    left: 50%;
}

