.dropdown {
    position: relative;
}

.dropdown .dropdown-btn {
    cursor: pointer;
    color: red;
    margin: 10px;
    padding: 5px;
    box-shadow: rgba(104, 109, 113, 0.73) 3px 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    min-width: 80px;
}

.dropdown .dropdown-list {
    position: absolute;
    top: 125%;
    padding: 15px;
    background-color: white;
    box-shadow: rgba(104, 109, 113, 0.73) 3px 3px 10px;
    z-index: 1;
    border-radius: 5px;
    width: 100%;
}

.dropdown .dropdown-list .dropdown-item {
    padding: 3px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.dropdown .dropdown-list .dropdown-item:hover {
    background-color: #f5f5f5;
}

.dropdown .dropdown-list .dropdown-item a {
    text-decoration: none !important;
    color: #ffffff;
}