* {
    box-sizing: border-box;
}

.main_my_list {
    background-color: rgb(4, 4, 60);
    height: 100vh;
    width: 1550px;
}

.div_my_list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.item_my_list {
    margin: 5px;
    position: relative;
}

.btn_minus_myList {
    height: 30px;
    position: absolute;
    top: 87%;
    right: 3%;
    background-color: brown;
    text-align: center;
}

.home_myList {
    color: rgb(210, 210, 236);
    border: 1px solid brown;
    background-color: brown;
    border-radius: 5px;
    position: absolute;
    top: 90%;
    right: 5%;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-size: 18px;
}

/*@media (max-width: 728px) {*/
/*    .main_my_list {*/
/*        height: 600vh;*/
/*    }*/

/*    .div_my_list {*/
/*        width: 400px;*/
/*    }*/
/*}*/

/*@media (min-width: 900px) {*/
/*    .main_my_list {*/
/*        height: 600vh;*/
/*    }*/

/*    .div_my_list {*/
/*        width: 800px;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .main_my_list {*/
/*        height: 600vh;*/
/*    }*/

/*    .div_my_list {*/
/*        min-width: 1500px;*/
/*    }*/
/*}*/