.list-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.list-item {
    margin: 5px;
    position: relative;
}

.trash-button {
    height: 30px;
    position: absolute; /* todo check this */
    top: 87%;
    right: 3%;
    background-color: brown;
    text-align: center;
}

.home-button {
    color: rgb(210, 210, 236);
    border: 1px solid brown;
    background-color: brown;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-size: 18px;
}