.nav-link-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-link {
    height: 100%;
    flex: 1;
    text-align: center;
    margin-right: 0.3em;
    margin-left: 0.3em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: larger !important;
}

.nav-link:hover {
    opacity: 0.8;
}

.nav-link-active {
    color: darkred !important;
    background-color: rgba(14, 14, 77, 0.93) !important;
}

.nav-link-inactive {
    color: white;
    background-color: rgb(5, 5, 35) !important;
}

.alert {
    margin-top: 1em;
    margin-bottom: 0 !important;
}

.genre-list {
    height: fit-content;
    width: 90%;
    border-bottom: 1.5px solid;
    padding: 1em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.list-item {
    border: 1px solid;
    border-radius: 6px;
    padding: 8px;
    margin-left: .5em;
    height: 2.3em;
    width: 9em;
    background: rgb(6, 83, 119);
    text-align: center;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

.list-item:hover {
    opacity: 0.8;
}

.list-item .selected-genre {
    background: rgb(6, 83, 119);
    color: white;
}

.list-item .title, .list-item .icon {
    font-size: .9em;
}

.list-item .title {
    width: 75%;
}

.list-item .icon {
    width: 25%;
}

.selected-genre {
    background: rgb(6, 119, 93);
}

.selected-genres-list {
    text-align: center;
    border: 1.5px solid;
    border-radius: 6px;
    padding: 6px;
    margin-top: 1em;
}