.profile-wrapper {
    background-image: url(../auth/auth-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    align-items: center;
}

.profile-container {
    height: 350px;
    background-color: black;
    opacity: 0.7;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}