* {
    box-sizing: border-box;
}

.search-container {
    padding: 3px;
}

.search-input {
    border-radius: 6px;
    padding: 6px;
    width: 100%;
}

.search-container .search-dropdown {
    position: absolute;
    top: 80%;
    padding: 10px;
    background: rgba(2, 2, 26, 0.9);
    box-shadow: rgba(104, 109, 113, 0.73) 3px 3px 10px;
    z-index: 1;
    border-radius: 5px;
    max-height: 50vh;
    overflow-y: auto;
}

.search-container .search-item, .search-container .no-search-item {
    padding: 3px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.search-container .search-item:hover {
    background-color: #f5f5f5;
}