$dropdown-border-radius: 8px;
$main-color: rgba(2, 2, 26, 0.9);
$secondary-color: #070766;

/*region ===== Scrollbar CSS =====*/
/* Firefox */
.search-dropdown {
    scrollbar-width: auto;
    scrollbar-color: $main-color $secondary-color;
}

/* Chrome, Edge, and Safari */
.search-dropdown::-webkit-scrollbar {
    width: 16px;
}

.search-dropdown::-webkit-scrollbar-track {
    background: $main-color;
    border-radius: 0 $dropdown-border-radius $dropdown-border-radius 0;
}

.search-dropdown::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 8px;
    border: 2px solid #ffffff;
}
/*endregion*/

.search-container {
    padding: 3px;
    background: white;
}

.search-input {
    border-radius: 6px;
    padding: 6px;
    width: 100%;
}

.search-container .search-dropdown {
    position: absolute;
    top: 80%;
    padding: 10px;
    background: $main-color;
    box-shadow: rgba(104, 109, 113, 0.73) 3px 3px 10px;
    z-index: 1;
    border-radius: $dropdown-border-radius;
    max-height: 50vh;
    overflow-y: auto;
}

.search-container .search-item, .search-container .no-search-item {
    padding: 3px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.search-container .search-item:hover {
    background-color: #f5f5f5;
}