* {
    box-sizing: border-box;
}

.main_search {
    /* opacity: 0.8; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* position: absolute; */
    z-index: 100;
}

.div_search {
    /* height: 400px; */
    /* padding: 8px; */
    gap: 8px;
    display: flex;
    flex-direction: column;
    /* opacity: 0.7; */
    position: absolute;
    color: wheat;
}

.div_name {
    /* opacity: 0.6; */
}

.img_search {
    width: 70px;
}

.name_search {
    /* opacity: 0.5; */
}