* {
    box-sizing: border-box;
}

.main_search {
    z-index: 100;
}

.inpSearch {
    border-radius: 6px;
    padding: 6px;
}

.div_search {
    gap: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: wheat;
}

@media screen and (max-width: 728px) {

}

@media screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
