body {
    text-align: center;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    height: 70vh;
    position: relative;
}

.footer-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(2, 10, 52);
    color: azure;
}

.footer-center {
    width: 60vw;
    text-align: center;
}

.footer-right, .footer-left {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}